#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

main {
  display: flex;
  gap: 2rem;
}

.comment {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #213547;
  border-radius: 0.5rem;
  padding: 1rem;
}

.comment span {
  border: #213547 solid 4px;
  border-radius: 2rem;
  padding: 1rem;

}

.comment i {
  color: black;
  font-weight: bolder;
  font-size: 0.8rem;
}

.comment p {
  text-align: justify;
}

.comment b {
  text-transform:uppercase;
}

.list {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.comment-form {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.comment-form .textarea {
  min-height: 150px;
}
